# Ignore all files by default
*

# Do NOT ignore directories, so Git can look inside them
!*/

# Do NOT ignore your specific file
!Program.cs
!**/Program.cs

!*GuessingSystem/Program.cs
!*InputIntegerCheker/Program.cs
!*CalculatorCs/Program.cs
!*IndustryStyleCode/Program.cs
!*PassCodeSystem/Program.cs
!*TaskTracker/Program.cs
!*TaskTracker/TodoTask.cs
!*TaskTracker/TaskRepository.cs
!*GuessingGame/Program.cs
!*GuessingGame/data/
!*GuessingGame/src/
!*GuessingGame/src/GameLogic.cs
!*GuessingGame/src/Storage.cs
# 3rd procject
!*InventorySystem/Program.cs
!*InventorySystem/Models/Products.cs
!*InventorySystem/Services/Inventory.cs

!*.gitignore